{% extends 'base.html' %}

{% block title %}
    <title>todolist - task manager</title>
{% endblock title %}


{% block content %}
  
  <h1>TODOLIST-TASK MANAGER</h1>
   
    </br>
    {%if messages%}
      {%for msg in messages%}
        <div class="alert alert-warning alert-dismissible fade show col-lg-6" role="alert">
          <strong>{{msg}}</strong> 
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {%endfor%}
    {%endif%}    

    <form method="POST" class="row">
      {% csrf_token %}
      <label class="col-lg-1">your tasks!</label>
      <input type="text" class="form-control col-lg-9" name="task" placeholder="add task">
      <button type="submit" class="btn btn-primary col-lg-2">ADD TASK</button>

    </form>
    </br>
    {%if all_task%}
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">TASKS</th>
            <th scope="col">STATUS</th>
            <th scope="col">WHAT TO DO</th>
            <th scope="col">EDIT</th>
            <th scope="col">DELETE</th>
          </tr>
          </thead>
          <tbody>
            
            {%for obj in all_task%}
              {%if obj.done%}
                <tr class="table-success">    
                  <td>{{obj.task}}</td>
                  <td>completed</td>
                  <td><a href={%url 'comp_pend' obj.id %}><button type="button" class="btn btn-dark">Pending</button></a></td>
                  <td><a href={%url 'edit_task' obj.id%}><button type="button" class="btn btn-warning">Edit</button></a></td>
                  <td><a href={%url 'delete_task' obj.id%}><button type="button" class="btn btn-danger">Delete</button></a></td>
                </tr>
              {%else%}
                <tr class="table-danger">   
                  <td>{{obj.task}}</td>
                  <td>pending</td>
                  <td><a href={%url 'comp_pend' obj.id%}><button type="button" class="btn btn-light">Completed</button></a></td>
                  <td><a href={%url 'edit_task' obj.id%}><button type="button" class="btn btn-warning">Edit</button></a></td>
                  <td><a href={%url 'delete_task' obj.id%}><button type="button" class="btn btn-danger">Delete</button></a></td>
                </tr>
              {% endif %}

            {%endfor%}
            
          </tbody>
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>
          {%if all_task.has_previous%}
            <li class="page-item"><a class="page-link" href="?pg={{all_task.previous_page_number}}">{{all_task.previous_page_number}}</a></li>
          {%endif%}
          <li class="page-item"><a class="page-link" href="?pg={{all_task.number}}">{{all_task.number}}</a></li>
          {%if all_task.has_next%}
            <li class="page-item"><a class="page-link" href="?pg={{all_task.next_page_number}}">{{all_task.next_page_number}}</a></li>
          {%endif%}
          <li class="page-item"><a class="page-link" href="?pg={{all_task.paginator.num_pages}}">>></a></li>
          
        </ul>
      </nav>
    {%endif%}
  
    

  

{% endblock content %}